.case-icons-list {
  padding-left: unset;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    margin: 30px 0;

    img {
      margin-right: 50px;
      width: 70px;
    }
  }
}