.next-case {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    color: $color-7;
  }

  .link-white {
    color: $color-5;
  }
}

.next-case-restaurant-palais-royal {
  background: linear-gradient(0deg, rgba(8, 20, 32, 0.85), rgba(8, 20, 32, 0.85)), url("../images/case-studies/restaurant-palais-royal/case-study-restaurant-palais-royal-hero.jpg");
}

.next-case-konvergo {
  background: linear-gradient(0deg, rgba(8, 20, 32, 0.85), rgba(8, 20, 32, 0.85)), url("../images/case-studies/konvergo/case-study-konvergo-hero.jpg");
  background-position: bottom;
}