.case-hero {
  .wrapper {
    height: 98vh;
    display: flex;
    align-items: flex-end;

    h1 {
      margin: 0;
      color: $color-1;
    }

    .case-hero-title {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.case-hero-periskio {
  background: linear-gradient(360deg, #F7F7FB 20%, rgba(247, 247, 251, 0) 100%), url("../images/case-studies/periskio/case-study-periskio-hero.jpg") center no-repeat;
}

.case-hero-restaurant-palais-royal {
  background: linear-gradient(360deg, #F7F7FB 20%, rgba(247, 247, 251, 0) 100%), url("../images/case-studies/restaurant-palais-royal/case-study-restaurant-palais-royal-hero.jpg") center no-repeat;
}

.case-hero-konvergo {
  background: linear-gradient(360deg, #F7F7FB 20%, rgba(247, 247, 251, 0) 100%), url("../images/case-studies/konvergo/case-study-konvergo-hero.jpg") center no-repeat;
}

// Small viewport 640px
@media screen and (min-width: $vw-small) {
  .case-hero-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
