footer {
  background: url('../images/bg-shape-2.svg'), $color-1;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;

   hr {
     max-width: 400px;
     margin: 20px 0 0 0;
     height: 2px;
     background: linear-gradient(100deg, #A87450 9.68%, rgba(168, 116, 80, 0) 84.56%);
   }

  .footer-contact-option {
    display: flex;
    align-items: center;

    a {
      margin-left: 4px;
      font-weight: $fw-semibold;
    }

    .footer-contact-white, p {
      color: $color-6;
    }

    p {
      margin: 3px 0;
    }
  }
}

// Tablet viewport 820px
@media screen and (min-width: $vw-medium) {
  footer {
    background-size: contain;

    .wrap, .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .social-medias {
        margin: 0;
      }
    }
  }
}