// All case studies
.case-studies {
  background: url('../images/bg-shape-4.svg');
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 150px;
  padding-bottom: 100px;

  // One case study
  .case-study {
    img {
      height: 420px;
      object-fit: cover;
      position: relative;
      }
    }
  }