// All case studies
.case-studies {
  background: url('../images/bg-shape-4.svg');
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 100px;

  .button-primary {
    margin: 35px 0;
  }

  h2 {
    color: $color-1;
  }

  // One case study
  .case-study {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }

    .case-study-title {
      margin: 70px 0;

      .subtitle {
        margin: 0;
        max-width: 350px;
      }

      h3 {
        margin: 7px 0;
        color: $color-1;
      }
    }

    img {
      box-shadow: 0 0 19px rgba(0, 0, 0, 0.10);
      height: 375px;
      object-fit: cover;
      position: relative;
      border-radius: 3px;
      margin-bottom: -10px;
    }
  }


  // Small viewport 640px
  @media screen and (min-width: $vw-small) {
    .case-studies {
      .button-primary {
        margin: 100px 0;
      }
    }
  }

  // Tablet viewport 820px
  @media screen and (min-width: $vw-large) {
    .case-study {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 600px;
        height: 80vh !important;
      }
    }

    .case-study-2 {
      display: flex;
      flex-direction: row-reverse;
    }

    .case-study-title {
      width: 440px;
    }
  }
}