.portrait-img {
  margin: 50px 0;
  max-width: 400px;
  width: 100%;
  display: flex;
  min-width: 300px;
}

.about {
  padding-top: 100px;
  h2 {
    color: $color-1;
  }

  h3 {
    text-align: center;
  }

  hr {
    background: $color-3;
    height: 1px;
  }
}

.button-group {
  svg {
    margin-left: 10px;
  }
}

.about-group-text {
  max-width: 720px;
}

// Tablet viewport 820px
@media screen and (min-width: $vw-medium) {
 .about {
   .portrait-img {
     margin: 0;
   }

   .about-group-1 {
     justify-content: space-between;
   }

   .button-group {
     display: flex;
     max-width: 650px;

     .button {
       width: 300px;
       margin: 30px 20px 30px 0;
     }
   }

   h3 {
     text-align: left;
   }

   .about-group-text {
     div {
       width: 400px;
     }
   }
 }
}

// Desktop viewport 1024px
@media screen and (min-width: $vw-medium) {
  .about-title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about {
    hr {
      margin: 0;
    }
  }



  .about-group-text {
    div {
      width: unset !important;
    }
  }
}

@media screen and (min-width: $vw-large) {
  .about {
    .button-group {
      .button-primary > a {
        width: 290px;
      }
    }
  }
}

// Desktop viewport 1024px
@media screen and (min-width: $vw-medium) {
  .about-group-1 {
    display: flex;
    margin: 50px 0;

    //.portrait-img {
    //  margin: 0;
    //  max-width: 300px;
    //}

    .about-group-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
    }
  }
}

// Desktop viewport 1248px
@media screen and (min-width: $vw-huge) {
  .about {
    //.portrait-img {
    //}

    .about-group-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 55px;
    }
  }
}
