.testimonials {
  background: url('../images/bg-shape-1.svg'), $color-1;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 100px;

  .testimonial {
    text-align: left;
  }

  div {
    max-width: 870px;
  }

  .testimonials-text {
    margin-bottom: 50px;
    text-align: center;

    p {
      color: $color-6;
      font-size: rem(22);
    }
  }

  .testimonial-credits {
    text-align: center;
  }
}

// Small viewport 640px
@media screen and (min-width: $vw-small) {
  .testimonials {
    .testimonial {
      text-align: center;
    }
  }
}