.skills {
  max-width: 670px;
}

.main-skills {
  padding: 40px;
  margin-top: 80px;
  background: $color-7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  .skills-big-title {
    font-weight: $fw-bold;
    text-align: center;
    margin: 0 auto;
    font-size: rem(28);
    background: linear-gradient(-90deg, #e5e7ef, #a85050, #a87450, #e5e7ef);
    -webkit-animation: AnimationFade 14s ease infinite;
    -moz-animation: AnimationFade 14s ease infinite;
    -o-animation: AnimationFade 14s ease infinite;
    animation: AnimationFade 14s ease infinite;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    transition: background, color 1s;
    color: transparent;
  }
}

.u-title-right {
  margin: 0 -20vw 0 0;
}

.u-text-inline {
  white-space: nowrap;
}

@-webkit-keyframes AnimationFade {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationFade {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationFade {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationFade {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


// Tablet viewport 820px
@media screen and (min-width: $vw-medium) {
  .skills-big-title {
    font-size: rem(68) !important;
  }
}

// Large viewport 1024px
@media screen and (min-width: $vw-large) {
  .skills-big-title {
    font-size: rem(95) !important;
  }
}


// Huge viewport 1240px
@media screen and (min-width: $vw-huge) {
  .skills-big-title {
    font-size: rem(120) !important;
  }
}