.about-technologies {
  margin: 65px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;

  li {
    list-style: none;
    margin: 30px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: initial;
  }
}

// Tablet viewport 820px
@media screen and (min-width: $vw-medium) {
  .about-technologies {
    width: 730px;
    justify-content: space-between;
    margin: 100px auto;
  }

}