// Headings and text
$color-title-light: $color-5;
$color-title-dark: $color-1;
$color-text-normal: $color-2;

// Backgrounds
$color-bg-page: $color-6;
$color-bg-light: $color-7;
$color-bg-dark: $color-1;

// Links
$color-link: $color-accent;
$color-link-visited: $color-link;
$color-link-active: lighten($color-link, 5%);
$color-link-focus: $color-link;

// Color palette
$color-accent: #A87450;
$color-1: #081420;
$color-2: #4A5B6D;
$color-3: #A9AFC7;
$color-4: #D3D7E7;
$color-5: #E5E7EF;
$color-6: #F7F7FB;
$color-7: #FFFFFF;

// Forms colors
$base-input-placeholder-color: #999;
$base-input-color: #000;
$base-input-background-color: #fff;
$base-input-background-focus-color: #fff;
$base-input-border-color: #ccc;
$base-input-border-focus-color: #000;
$base-select-box-height: 36px;
