// Headings and text
$color-title-light: #E5E7EF;
$color-title-dark: #081420;
$color-text-normal: #4A5B6D;

// Backgrounds
$color-bg-page: #F7F7FB;
$color-bg-light: #FFFFFF;
$color-bg-dark: #081420;

// Links
$color-link: #A87450;
$color-link-visited: $color-link;
$color-link-active: lighten($color-link, 5%);
$color-link-focus: $color-link;

// Color palette
$color-accent: #a87450;
$color-1: #081420;
$color-2: #4a5b6d;
$color-3: #A9AFC7;
$color-4: #D3D7E7;
$color-5: #E5E7EF;
$color-6: #f7f7fb;
$color-7: #ffffff;

// Forms colors
$base-input-placeholder-color: #999;
$base-input-color: #000;
$base-input-background-color: #fff;
$base-input-background-focus-color: #fff;
$base-input-border-color: #ccc;
$base-input-border-focus-color: #000;
$base-select-box-height: 36px;
