/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $color-1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

// Textarea
textarea {
  padding: 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  overflow: auto;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;
  height: $base-input-height;
  padding: 0 8px;
  background-color: $base-input-background-color;
  border: $base-input-border-size solid $base-input-border-color;
  border-radius: $base-input-border-radius;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Buttons
button {
  outline: none;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}

.disabled,
[disabled] {
  opacity: .4;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

// Placeholders
::placeholder { color: $base-input-placeholder-color; }
